//colors

$vineColor: #633034;

$colors: (
        'white':#fff,
        'black':#000,
        'dark-yellow':#bb0,
        'dark-red':#b00,
        'dark-green':#0b0,
        'dark-blue':#00b,
        'cream':#efebdd,
        'vine': $vineColor,
        'dark-vine': #532034,
        'grey': #ccc,
        'middle-grey': #aaa,
        'light-grey': #eee,
        'dark-grey': #555,
);

//sizes

$sizes: (
        xs: 767px,
        sm: 991px,
        md: 1199px,
        lg: 10000px
);

//margins and paddings

$distances: (
        0, 1, 2, 3, 5, 8, 10, 13, 15, 20, 21, 25, 30, 34, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 89, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 144
);

//positions
$positions:('relative', 'absolute', 'fixed');

//displays
$displays:('inline', 'inline-block', 'table', 'table-cell', 'table-row', 'none', 'block');


//colors out

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }

  .border-#{$name} {
    border-color: $color;
  }

  .border-hover-#{$name}:hover,
  .border-hover-#{$name}:focus {
    border-color: $color;
  }

}

.full-height {
  height:100%;
}

.full-width {
  width:100%;
}

//sizes out

@each $name, $maxWidth in $colors {

  @media (max-width: $maxWidth) {
    .show-#{$name}-block {
      display: block;
    }

    .show-#{$name}-inline-block {
      display: inline-block;
    }

    .hide-#{$name} {
      display: none;
    }
  }

}

//margins and padding out

@each $dist in $distances {
  .m#{$dist} {
    margin: #{$dist}px !important;
  }
  .m-#{$dist} {
    margin: -#{$dist}px;
  }
  .ml#{$dist} {
    margin-left: #{$dist}px;
  }
  .ml-#{$dist} {
    margin-left: -#{$dist}px !important;
  }
  .mr#{$dist} {
    margin-right: #{$dist}px;
  }
  .mr-#{$dist} {
    margin-right: -#{$dist}px;
  }
  .mt#{$dist} {
    margin-top: #{$dist}px;
  }
  .mt-#{$dist} {
    margin-top: -#{$dist}px !important;
  }
  .mb#{$dist} {
    margin-bottom: #{$dist}px;
  }
  .mb-#{$dist} {
    margin-bottom: -#{$dist}px;
  }
  .mtb#{$dist} {
    margin-top: #{$dist}px;
    margin-bottom: #{$dist}px;
  }
  .mtb-#{$dist} {
    margin-top: -#{$dist}px;
    margin-bottom: -#{$dist}px;
  }
  .mlr#{$dist} {
    margin-left: #{$dist}px;
    margin-right: #{$dist}px;
  }
  .mlr-#{$dist} {
    margin-left: -#{$dist}px;
    margin-right: -#{$dist}px;
  }

  .p#{$dist} {
    padding: #{$dist}px;
  }
  .p-#{$dist} {
    padding: -#{$dist}px;
  }
  .pl#{$dist} {
    padding-left: #{$dist}px;
  }
  .pl-#{$dist} {
    padding-left: -#{$dist}px;
  }
  .pr#{$dist} {
    padding-right: #{$dist}px;
  }
  .pr-#{$dist} {
    padding-right: -#{$dist}px;
  }
  .pt#{$dist} {
    padding-top: #{$dist}px;
  }
  .pt-#{$dist} {
    padding-top: -#{$dist}px;
  }
  .pb#{$dist} {
    padding-bottom: #{$dist}px;
  }
  .pb-#{$dist} {
    padding-bottom: -#{$dist}px;
  }
  .ptb#{$dist} {
    padding-top: #{$dist}px;
    padding-bottom: #{$dist}px;
  }
  .ptb-#{$dist} {
    padding-top: -#{$dist}px;
    padding-bottom: -#{$dist}px;
  }
  .plr#{$dist} {
    padding-left: #{$dist}px;
    padding-right: #{$dist}px;
  }
  .plr-#{$dist} {
    padding-left: -#{$dist}px;
    padding-right: -#{$dist}px;
  }

  .b#{$dist} {
    border-width: #{$dist}px;
  }
  .f#{$dist} {
    font-size: #{$dist}px !important;
  }
  .br#{$dist} {
    border-radius: #{$dist}px;
  }



  .z#{$dist} {
    z-index: #{$dist} !important;
  }

  .box-shadow-grey#{$dist} {
    box-shadow: #{$dist}px  #{$dist}px  #{$dist}px rgba(144,144,144,0.3);
  }
}


/**
POSITIONS
**/


@each $type in $positions {

  .#{$type} {
    position: #{$type} !important;
  }
}


/**
DISPLAYS
**/


@each $type in $displays {

  .#{$type} {
    display: #{$type} !important;
  }
}


.no-border {
  border:none !important;
  outline: none !important;
}

.no-bg {
  background: transparent;
}

/**
FORMS
*/

.circle {
  border-radius: 50%;
}


/**
INPUTS
*/


.soft-input {
  border: 1px solid #ccc !important;
}

/**
BUTTONS
*/
button {
  cursor: pointer;
}

.bordered {
  border-style: solid;
}

h1, h2, h3, h4, h5 {
  &.bordered {
    border-width:0;
    border-bottom-width: 2px;
  }
}

.btn-typical {
  border: 1px solid $vineColor !important;
  color:$vineColor !important;
  background: transparent;
  outline: none;

  &:hover, &:focus, &.active {
    background: $vineColor;
    color:white !important;
  }

  &.no-border {
    border: none !important;
  }
}

.vine-button {
  background:$vineColor;
  color:white !important;

  &:hover {
    background:#683539;
  }
}


/**Display**/
.no-wrap {
  white-space: nowrap;
}

.bg-img {
  background-size:cover;
  background-position: center;
}