@font-face {
  font-family: "readrus";
  src: url("../fonts/readrus.eot");
  src: url("../fonts/readrus.eot?#iefix") format("embedded-opentype"), url("../fonts/readrus.woff") format("woff"), url("../fonts/readrus.ttf") format("truetype"), url("../fonts/readrus.svg#readrus") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="menu-icon-"]:before,
[class*=" menu-icon-"]:before,
[class^="dashicons-menu-icon-"]:before,
[class*=" dashicons-menu-icon-"]:before {
  font-family: "readrus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.menu-icon-adv-0:before,
.dashicons-menu-icon-adv-0:before {
  content: "a"; }

.menu-icon-books:before,
.dashicons-menu-icon-books:before {
  content: "b"; }

.menu-icon-dialog:before,
.dashicons-menu-icon-dialog:before {
  content: "c"; }

.menu-icon-home:before,
.dashicons-menu-icon-home:before {
  content: "d"; }

.menu-icon-medal:before,
.dashicons-menu-icon-medal:before {
  content: "e"; }

.menu-icon-newspaper:before,
.dashicons-menu-icon-newspaper:before {
  content: "f"; }

.menu-icon-pen:before,
.dashicons-menu-icon-pen:before {
  content: "g"; }

.menu-icon-security:before,
.dashicons-menu-icon-security:before {
  content: "h"; }

.menu-icon-money:before,
.dashicons-menu-icon-money:before {
  content: "i"; }

.menu-icon-auth:before,
.dashicons-menu-icon-auth:before {
  content: "j"; }

/*# sourceMappingURL=fonts.css.map */
