@charset "UTF-8";

$menuIconClass: 'menu-icon';
$adminMenuIconClass: 'dashicons-'+$menuIconClass;
$keys: (
        'adv-0':'\61',
        'books':'\62',
        'dialog':'\63',
        'home':'\64',
        'medal':'\65',
        'newspaper':'\66',
        'pen':'\67',
        'security':'\68',
        'money':'\69',
        'auth':'\6a',
);


@font-face {
  font-family: "readrus";
  src:url("../fonts/readrus.eot");
  src:url("../fonts/readrus.eot?#iefix") format("embedded-opentype"),
  url("../fonts/readrus.woff") format("woff"),
  url("../fonts/readrus.ttf") format("truetype"),
  url("../fonts/readrus.svg#readrus") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="#{$menuIconClass}-"]:before,
[class*=" #{$menuIconClass}-"]:before,
[class^="#{$adminMenuIconClass}-"]:before,
[class*=" #{$adminMenuIconClass}-"]:before {
  font-family: "readrus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@each $name, $icon in $keys {
  .#{$menuIconClass}-#{$name}:before,
  .#{$adminMenuIconClass}-#{$name}:before, {
    content: $icon;
  }
}
