$vineColor: #633034;

body {
  background-image: url("../img/bg-min.png");
  background-size: 100%;

  font-family: Helvetica, Arial;
}

button, button:hover, button:focus {
  outline: none !important;
}

@media (min-width:768px) {

  nav.nav-top {
    padding-right: 60px;
  }
}

@media (max-width:767px) {
  nav.nav-top {
    left: 0 !important;
  }
}

nav.nav-top {
  position: fixed;
  top: 0;
  left: 32px;
  width: 100%;
  white-space: nowrap;
  z-index: 50;

  &.in-top {
    position: relative;
    top: 32px;
    left: 0;
    .search-panel {
      padding-top: 13px;
      margin-left: -269px;
    }

    .login-button {
      padding: 16px 15px;
      height: 68px;
      width: 200px;
    }

    .logo img {
      height: 62px;
      margin-bottom: 2px;
    }

  }

  .navbar-nav {
    .menu-item {
      padding: 2px 5px;
      text-align: justify;

      &.active:before {
        color: $vineColor;
      }
      &:hover, &:active {
        background: $vineColor;
        span, &:before {
          color: white;
        }
      }
      a {
        display: inline-block;
        width: 100%;
        margin-left: -15px;
        padding-left: 15px;
        span {
          color: $vineColor;
          margin-left: 5px;
        }

        &:hover, &:active {
          text-decoration: none !important;
        }
      }
    }
  }

  .panel {
    padding: 10px 0;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.6);
  }

  .logo {
    padding: 0 55px;
    display: inline-block;
    border-right: 1px solid rgba(15, 15, 15, 0.2);
    vertical-align: top;

    img {
      height: 39px;
      margin-bottom: 2px;
    }
  }

  .search-panel {
    display: inline-block;
    width: 100%;
    margin-left: -242px;
    padding-left: 242px;
    text-align: center;
    padding-top: 0;
    margin-right: -200px;
    padding-right: 200px;
    vertical-align: top;

    .search {
      width: 100px;
    }

    form {
      display: inline-block;
    }

  }

  .login-button {
    display: inline-block;
    vertical-align: top;
//    width: 343px;
    text-align: justify;
    padding: 0 15px;
    border-left: 1px solid rgba(15, 15, 15, 0.2);
    height: 43px;
  }

  .login-button .menu-icon-auth:before {
    margin-top: -4px;
    font-size: 19px;
    vertical-align: middle;
    display: inline-block;
  }

  form {
    width: 339px;
  }
}

@media (min-width: 992px) {


  .in-top.nav-top .login-button {
    padding: 16px 15px !important;
  }

  .nav-top .login-button {
//    padding: 0 60px !important;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .hidden-auto {
    display: none !important;
  }

  .login-button {
    width: 90px !important;
  }

  .in-top .search-panel {
    margin-right: -106px !important;
  }

  .search-panel {
    margin-right: -62px !important;
    margin-left: -231px !important;
  }

  .nav-top .navbar {
    display: block;
    padding: 0;
  }

}

@media (max-width: 767px) {

  .login-button {
    width: 303px !important;
    float: right;
    border-left: none !important;
  }

  .logo {
    border-right: 0 !important;
    padding: 0 14px !important;
  }

  .nav-top .navbar-toggler {
    margin-top: 9px;
    margin-right: -16px;
  }

  .login-button .auth-button {
    margin-right: 66px;
  }

}

@media (min-width: 992px) {
  .nav-top .navbar-toggleable-md .navbar-collapse {
    display: none !important;
  }
}

/**
LEFT NAV
*/
body.admin-bar #l-nav {
  top: 32px;
  height: calc(100vh - 32px);
}

#l-nav {
  height: 100vh;
  width: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #efebdd;
  z-index: 5000;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.14);
  -webkit-transition: all 200ms ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

#l-nav ul {
  list-style: none;
  padding: 0;
}

#l-nav ul .title_menu {
  border-bottom: 1px solid #cccccc;
  height: 57px;
  color: #efebdd;
  line-height: 57px;
  font-size: 0;
  position: relative;
  cursor: pointer;
}

#l-nav ul .title_menu span {
  display: none;
  font-size: 14px;
  background-color: #efebdd;
  position: absolute;
  top: 50%;
  left: 65px;
  margin-top: -15px;
  height: 30px;
  max-width: 200px;
  white-space: nowrap;
  padding: 0 30px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  line-height: 30px;
  -webkit-transition: all 500ms ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  z-index: 100;
}

#l-nav ul .title_menu span:after {
  content: '';
  position: absolute;
  left: -24px;
  bottom: 0;
  border: 15px solid transparent;
  border-right: 9px solid #633034;
}

#l-nav ul .title_menu:hover {
  background-color: #efebdd;
}

#l-nav ul .title_menu:hover span {
  display: block;
}

#l-nav ul .title_menu #menu-toggle {
  width: 65px;
  height: 57px;
  position: relative;
  cursor: pointer;
  float: left;
  transition: .25s ease-in-out;
  margin-right: 23px;
}

#l-nav ul .title_menu #menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}

#l-nav ul .title_menu #menu-toggle #hamburger b {
  width: 31px;
  height: 3px;
  position: relative;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px 0;
  display: block;
  background-color: #a6a6a6;
  border-radius: 4px;
  transition: .25s ease-in-out;
}

#l-nav ul .title_menu #menu-toggle #hamburger b:nth-child(1) {
  transition-delay: .5s;
}

#l-nav ul .title_menu #menu-toggle #hamburger b:nth-child(2) {
  transition-delay: .625s;
}

#l-nav ul .title_menu #menu-toggle #hamburger b:nth-child(3) {
  transition-delay: .75s;
}

#l-nav ul .title_menu #menu-toggle #cross {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 13px;
  left: 15px;
  transform: rotate(45deg);
}

#l-nav ul .title_menu #menu-toggle #cross b {
  background-color: #a6a6a6;
  transition: .25s ease-in-out;
}

#l-nav ul .title_menu #menu-toggle #cross b:nth-child(1) {
  height: 0;
  width: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transition-delay: 0s;
  transform: translateX(-50%);
}

#l-nav ul .title_menu #menu-toggle #cross b:nth-child(2) {
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  transition-delay: .25s;
  transform: translateY(-50%);
}

#l-nav ul .title_menu #menu-toggle.active #hamburger b {
  width: 0%;
}

#l-nav ul .title_menu #menu-toggle.active #hamburger b:nth-child(1) {
  transition-delay: 0s;
}

#l-nav ul .title_menu #menu-toggle.active #hamburger b:nth-child(2) {
  transition-delay: .125s;
}

#l-nav ul .title_menu #menu-toggle.active #hamburger b:nth-child(3) {
  transition-delay: .25s;
}

#l-nav ul .title_menu #menu-toggle.active #cross b:nth-child(1) {
  height: 100%;
  transition-delay: .625s;
}

#l-nav ul .title_menu #menu-toggle.active #cross b:nth-child(2) {
  width: 100%;
  transition-delay: .375s;
}

#l-nav ul .title_menu.active:hover #menu-toggle {
  background-color: #ff1744;
}

#l-nav ul .line {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 1px;
  background-color: #ccc;
}

#l-nav ul .subtitle {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #440914;
  margin-top: 50px;
  padding-left: 19px;
  margin-bottom: 10px;
  opacity: 0;
  white-space: nowrap;
}

#l-nav ul .copyright {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: #999;
  font-size: 10px;
  border-top: 1px solid #ccc;
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  display: none;
}

#l-nav ul .copyright span {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  white-space: nowrap;
}

#l-nav ul .menu-item {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 54px;
  position: relative;
  margin: 1px 0;
}

#l-nav ul .menu-item:after {
  content: '';
  width: 65px;
  height: 54px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  transition: all 200ms ease 0s;
  opacity: .5;
}

#l-nav ul .menu-item a {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  color: #666666;
  line-height: 54px;
  padding-left: 63px;
  position: relative;
  z-index: 3000;
  height: 54px;
}

#l-nav ul .menu-item a span {
  display: none;
  font-size: 14px;
  background-color: #633034;
  position: absolute;
  top: 50%;
  left: 65px;
  margin-top: -15px;
  height: 30px;
  max-width: 200px;
  white-space: nowrap;
  padding: 0 30px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  line-height: 30px;
  transition: all 500ms ease 0s;
  z-index: 100;
  color: #ffffff;
}

#l-nav ul .menu-item a span:after {
  content: '';
  position: absolute;
  left: -24px;
  bottom: 0;
  border: 15px solid transparent;
  border-right: 9px solid #633034;
}

#l-nav ul .menu-item:last-of-type {
  border-top: 1px solid rgba(239, 235, 221, 0.5);
  padding-top: 1px;
}

#l-nav ul .menu-item:last-of-type:after {
  top: 1px;
}

#l-nav ul .menu-item:hover:after {
  opacity: 1;
}

#l-nav ul .menu-item:hover a:before {
  background-position: -50px 0;
}

#l-nav ul .menu-item:hover a span {
  display: block;
}

#l-nav.active {
  width: 235px;
  overflow: hidden;
}

#l-nav.active ul .title_menu {
  font-size: 14px;
}

#l-nav.active ul .title_menu:before {
  background-image: url("img/icon/close.png");
}

#l-nav.active ul .title_menu span {
  display: block;
  font-size: 14px;
  background-color: transparent;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 0;
  height: auto;
  white-space: nowrap;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  line-height: 54px;
  transition: none;
  z-index: 5;
}

#l-nav.active ul .title_menu span:after {
  display: none;
}

#l-nav.active ul .title_menu:hover {
  background-color: transparent;
}

#l-nav.active ul .title_menu:hover:before {
  background-color: #ff1744;
}

#l-nav.active ul .subtitle {
  opacity: 1;
}

#l-nav.active ul .copyright {
  display: block;
}

#l-nav.active ul .menu-item a {
  font-size: 14px;
}

#l-nav.active ul .menu-item a span {
  display: block;
  font-size: 14px;
  background-color: transparent;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 0;
  height: auto;
  white-space: nowrap;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  line-height: 54px;
  transition: none;
  z-index: 5;
  color: #666666;
}

#l-nav.active ul .menu-item a span:after {
  display: none;
}

#l-nav .menu-item:before {
  color: #633034;
  font-size: 20px;
  left: 22px;
  top: 17px;
  position: absolute;
  opacity: 0.6;
}

#l-nav .menu-item:hover:before, #l-nav .menu-item:active:before, #l-nav .menu-item.active:before {
  opacity: 1;
}

/**
Content
**/

body, .nav-top {
  padding-left: 65px;
}

@media (max-width: 768px) {
  body, .nav-top {
    padding-left: 0 !important;
  }
}

.content {
  padding-top: 140px;
}

/**
Admin
**/

.admin-bar {
  .nav-top {
    top: 32px;
  }

  .content {
    padding-top: 172px;
  }
}

/**
Pages
**/

.landing-main-top-image {
  height: 320px;
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover;
}

.landing-menu {
  margin-bottom: -40px;

  ul {
    padding: 0;

    li {
      text-align: center;
      margin-top: -50px;
      margin-bottom: 100px;
      list-style-type: none;

      .item {
        position: relative;
        height: 200px;
        width: 206px;
        background: red;
        display: inline-block;
        transition: all 0.5s;

        span {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 25px 10px;
          color: white;
          background: rgba(0, 0, 0, 0.7);
        }

        &:hover {
          margin-top: -10px;
          margin-bottom: 10px;
        }
      }

    }

  }

}

.landing-category {
  color: #808080;
  font-size: 28px;
  font-weight: 300;
}

.book {
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
  display: inline-block;
  text-decoration: none;

  &:hover, &:active, &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.62);
    text-decoration: none;
  }

  .img {
    height: 238px;
    width: 205px;
    background-size: cover !important;
    background-position: center !important;
    border: 1px dotted #ccc;

  }

  .content {
    padding: 7px !important;
    width: 193px;
    height: 100px;

    .head {
      color: #808080;
      font-size: 18px;
      font-weight: bold;
    }

    .author {
      color: #808080;
      font-size: 17px;
      font-weight: 300;
    }

  }
}

.landing-author-books-column {
  border-right: 1px solid #ccc;
  padding-right: 40px;
  padding-left: 100px;
  //  text-align: center;

}

.landing-author-news {
  padding-left: 100px;
}

@media (min-width: 992px) {

  .pr0-lg {
    padding-right: 0 !important;
  }

  .pl0-lg {
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) {

  .pr0-md {
    padding-right: 0 !important;
  }

  .pl0-md {
    padding-left: 0 !important;
  }

  .landing-author-books-column {
    text-align: center;
    padding-left: 40px;
  }

  .pull-sm-right {
    float: right;
  }
}

@media (max-width: 1199px) {

  .landing-author-news {
    padding-left: 40px !important;
  }

  .landing-author-books-column {
    text-align: left;
    padding-left: 40px;
  }

}

@media (max-width: 991px) {
  .landing-author-books-column {
    text-align: center;
    padding-left: 60px;
  }

  .landing-author-news {
    text-align: center;
  }
}

.landing-author-news {
  border-right: 1px solid #ccc;
  padding-right: 40px;
  padding-left: 100px;
  //  text-align: center;

  .book {
    margin-bottom: 30px;
    display: inline-block;
    margin-top: 1px;
    padding-bottom: 5px;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc !important;

    &:hover, &:active, &:focus {
      text-decoration: none;
      box-shadow: none !important;
    }

    .date-field {

      border-bottom: 1px solid $vineColor;
      margin-bottom: 10px;
      padding-bottom: 12px;
      width: 100%;

    }

    .img {
      display: inline-block;
      height: 115px;
      width: 107px;
      background-size: cover !important;
      vertical-align: top;
      border: none !important;
    }

    .content {
      display: inline-block;
      padding: 7px !important;
      width: 193px;
      height: auto;
      vertical-align: top;

      .head {
        color: #808080;
        font-size: 18px;
        font-weight: bold;
      }

      .author {

        color: #808080;
        font-size: 15px;
        font-weight: 300;
      }

    }
  }
}

.owl-with-buttons {
  padding: 0 30px;

  .owl-item {
    text-align: center;
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    .owl-prev, .owl-next {
      position: absolute;
      top: 0;
      margin-top: -70px;
    }

    .owl-prev {
      left: -20px;
    }

    .owl-next {
      right: -20px;
    }

    .arrow {
      padding: 40px 21px;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.landing-post {
  margin-bottom: 30px;
  display: inline-block;
  margin-top: 1px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc !important;
  box-shadow: none !important;
  height: 221px;

  &:hover, &:active, &:focus {
    box-shadow: none !important;
    text-decoration: none;
  }

  .date-field {

    border-bottom: 1px solid $vineColor;
    margin-bottom: 10px;
    padding-bottom: 12px;
    width: 100%;

  }

  .img {
    display: inline-block;
    height: 195px;
    width: 195px;
    background-size: cover !important;
    vertical-align: top;

  }

  .content {
    display: inline-block;
    padding: 7px !important;
    height: auto;
    vertical-align: top;

    .head {
      color: #808080;
      font-size: 18px;
      font-weight: bold;
    }

    .author {

      color: #808080;
      font-size: 15px;
      font-weight: 300;
    }

  }
}

.landing-author {
  margin-bottom: 30px;
  display: inline-block;
  margin-top: 1px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
  width: 200px;
  height: 312px;

  &:hover, &:active, &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.62);
    text-decoration: none;
  }

  .date-field {

    border-bottom: 1px solid $vineColor;
    margin-bottom: 10px;
    padding-bottom: 12px;
    width: 100%;

  }

  .img {
    display: inline-block;
    height: 195px;
    width: 195px;
    background-size: cover !important;
    vertical-align: top;

  }

  .content {
    display: inline-block;
    padding: 7px !important;
    height: auto;
    vertical-align: top;

    .head {
      color: #808080;
      font-size: 18px;
      font-weight: bold;
    }

    .author {

      color: #808080;
      font-size: 15px;
      font-weight: 300;
    }

  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
  }
}

/*** HACKS **/

.rw-rating-table {
  display: inline-block;
  .rw-ui-container .rw-report-link, .rw-ui-container .rw-report-link:hover {
    display: none !important;
  }
}

.kk-star-ratings {
  position: relative;
  padding-top: 28px;

  .kksr-legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 18px;
    display: inline-block !important;

    span {
      color: green !important;
    }
  }

  .kksr-star.gray {
    background-size: 17px 17px;
    display: inline-block;

    .kksr-star.yellow {
      background-image: url('../img/green.png') !important;
    }

    * {
      background-size: 17px 17px;
    }

    a {
      height: 17px;
      width: 17px;
      float: left;

      &.orange {
        background-image: url('../img/dark-green.png') !important;
      }

      //      background-image: url('../img/dark-green.png') !important;
    }

  }
}

a {
  color: $vineColor;
  text-decoration: underline;

  &:hover, &:focus {
    color: #532034;
  }
}

.no-decoration {
  text-decoration: none !important;
}

.submenu-link {
  $border: 1px solid rgba(144, 144, 144, 0.3);

  &:first-child {
    border-left: $border;
  }
  border-right: $border;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none !important;
  font-weight: bold;
  color: #aaa;

  $activeBorderHeight: 3px;
  &:hover, &.active, &:focus {
    border-bottom: $activeBorderHeight solid $vineColor;
    padding-bottom: 10px - $activeBorderHeight;
    color: #555;
  }

  &.active {
    color: $vineColor !important;
  }

}

.carret-right {
  padding-right: 13px;
  &:after {
    position: absolute;
    right: 3px;
    top:50%;
    margin-top:-2px;
  }
}


$starsHeight: 16px;
.stars {
  height:#{$starsHeight};
  position:relative;
  display: inline-block;



  .fuel {

    position:absolute;
    left:0;
    top:0;
    background:green;
    height:100%;
    width:20%;
    transition: all 1s;
  }

  .stars-image {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url('../img/star2.png');

    background-size:#{$starsHeight} #{$starsHeight};
  }

  &.editable {
    .stars-cnt {

      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;

      .star {
        background: transparent;
        width: #{$starsHeight};
        height: #{$starsHeight};
        float: left;
        cursor:pointer;

      }
    }


  }
}

.btn-typical, .vine-button {
  text-decoration: none;
}



.page-img {
  height:320px;
  width:100%;
}

.authors_book {
  .img {
    display: block;
    height:202px;
    width:202px;
    background-position: center;
  }
}

.typical-form {
  display: inline-block;
  position: relative;
}

.grey-input {
  background: #eee;
  border:none !important;
  outline: none !important;
  padding: 8px 20px;
  width: 400px;
}

.hand {
  cursor:pointer;
  user-select: none;
}

.vertical-top {
  vertical-align: top;
}

.checkbox {
  .check {
    border:1px solid #008000;
    color:#008000;
    display: inline-block;
    padding: 0 4px;
    font-size:15px;


    &.active {
      .check-ok {
        display: inline-block;
      }

      .check-fail {
        display: none;
      }
    }


    .check-fail {
      display: inline-block;
      width:15px;
    }

    .check-ok {
      color:#008000;
      display: none;
    }


    input {
      display: none;
    }
  }
}