body {
  background-image: url("../img/bg-min.png");
  background-size: 100%;
  font-family: Helvetica, Arial; }

button, button:hover, button:focus {
  outline: none !important; }

@media (min-width: 768px) {
  nav.nav-top {
    padding-right: 60px; } }
@media (max-width: 767px) {
  nav.nav-top {
    left: 0 !important; } }
nav.nav-top {
  position: fixed;
  top: 0;
  left: 32px;
  width: 100%;
  white-space: nowrap;
  z-index: 50; }
  nav.nav-top.in-top {
    position: relative;
    top: 32px;
    left: 0; }
    nav.nav-top.in-top .search-panel {
      padding-top: 13px;
      margin-left: -269px; }
    nav.nav-top.in-top .login-button {
      padding: 16px 15px;
      height: 68px;
      width: 200px; }
    nav.nav-top.in-top .logo img {
      height: 62px;
      margin-bottom: 2px; }
  nav.nav-top .navbar-nav .menu-item {
    padding: 2px 5px;
    text-align: justify; }
    nav.nav-top .navbar-nav .menu-item.active:before {
      color: #633034; }
    nav.nav-top .navbar-nav .menu-item:hover, nav.nav-top .navbar-nav .menu-item:active {
      background: #633034; }
      nav.nav-top .navbar-nav .menu-item:hover span, nav.nav-top .navbar-nav .menu-item:hover:before, nav.nav-top .navbar-nav .menu-item:active span, nav.nav-top .navbar-nav .menu-item:active:before {
        color: white; }
    nav.nav-top .navbar-nav .menu-item a {
      display: inline-block;
      width: 100%;
      margin-left: -15px;
      padding-left: 15px; }
      nav.nav-top .navbar-nav .menu-item a span {
        color: #633034;
        margin-left: 5px; }
      nav.nav-top .navbar-nav .menu-item a:hover, nav.nav-top .navbar-nav .menu-item a:active {
        text-decoration: none !important; }
  nav.nav-top .panel {
    padding: 10px 0;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.6); }
  nav.nav-top .logo {
    padding: 0 55px;
    display: inline-block;
    border-right: 1px solid rgba(15, 15, 15, 0.2);
    vertical-align: top; }
    nav.nav-top .logo img {
      height: 39px;
      margin-bottom: 2px; }
  nav.nav-top .search-panel {
    display: inline-block;
    width: 100%;
    margin-left: -242px;
    padding-left: 242px;
    text-align: center;
    padding-top: 0;
    margin-right: -200px;
    padding-right: 200px;
    vertical-align: top; }
    nav.nav-top .search-panel .search {
      width: 100px; }
    nav.nav-top .search-panel form {
      display: inline-block; }
  nav.nav-top .login-button {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 0 15px;
    border-left: 1px solid rgba(15, 15, 15, 0.2);
    height: 43px; }
  nav.nav-top .login-button .menu-icon-auth:before {
    margin-top: -4px;
    font-size: 19px;
    vertical-align: middle;
    display: inline-block; }
  nav.nav-top form {
    width: 339px; }

@media (min-width: 992px) {
  .in-top.nav-top .login-button {
    padding: 16px 15px !important; } }
@media (max-width: 991px) and (min-width: 767px) {
  .hidden-auto {
    display: none !important; }

  .login-button {
    width: 90px !important; }

  .in-top .search-panel {
    margin-right: -106px !important; }

  .search-panel {
    margin-right: -62px !important;
    margin-left: -231px !important; }

  .nav-top .navbar {
    display: block;
    padding: 0; } }
@media (max-width: 767px) {
  .login-button {
    width: 303px !important;
    float: right;
    border-left: none !important; }

  .logo {
    border-right: 0 !important;
    padding: 0 14px !important; }

  .nav-top .navbar-toggler {
    margin-top: 9px;
    margin-right: -16px; }

  .login-button .auth-button {
    margin-right: 66px; } }
@media (min-width: 992px) {
  .nav-top .navbar-toggleable-md .navbar-collapse {
    display: none !important; } }
/**
LEFT NAV
*/
body.admin-bar #l-nav {
  top: 32px;
  height: calc(100vh - 32px); }

#l-nav {
  height: 100vh;
  width: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #efebdd;
  z-index: 5000;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.14);
  -webkit-transition: all 200ms ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s; }

#l-nav ul {
  list-style: none;
  padding: 0; }

#l-nav ul .title_menu {
  border-bottom: 1px solid #cccccc;
  height: 57px;
  color: #efebdd;
  line-height: 57px;
  font-size: 0;
  position: relative;
  cursor: pointer; }

#l-nav ul .title_menu span {
  display: none;
  font-size: 14px;
  background-color: #efebdd;
  position: absolute;
  top: 50%;
  left: 65px;
  margin-top: -15px;
  height: 30px;
  max-width: 200px;
  white-space: nowrap;
  padding: 0 30px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  line-height: 30px;
  -webkit-transition: all 500ms ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  z-index: 100; }

#l-nav ul .title_menu span:after {
  content: '';
  position: absolute;
  left: -24px;
  bottom: 0;
  border: 15px solid transparent;
  border-right: 9px solid #633034; }

#l-nav ul .title_menu:hover {
  background-color: #efebdd; }

#l-nav ul .title_menu:hover span {
  display: block; }

#l-nav ul .title_menu #menu-toggle {
  width: 65px;
  height: 57px;
  position: relative;
  cursor: pointer;
  float: left;
  transition: .25s ease-in-out;
  margin-right: 23px; }

#l-nav ul .title_menu #menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%; }

#l-nav ul .title_menu #menu-toggle #hamburger b {
  width: 31px;
  height: 3px;
  position: relative;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px 0;
  display: block;
  background-color: #a6a6a6;
  border-radius: 4px;
  transition: .25s ease-in-out; }

#l-nav ul .title_menu #menu-toggle #hamburger b:nth-child(1) {
  transition-delay: .5s; }

#l-nav ul .title_menu #menu-toggle #hamburger b:nth-child(2) {
  transition-delay: .625s; }

#l-nav ul .title_menu #menu-toggle #hamburger b:nth-child(3) {
  transition-delay: .75s; }

#l-nav ul .title_menu #menu-toggle #cross {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 13px;
  left: 15px;
  transform: rotate(45deg); }

#l-nav ul .title_menu #menu-toggle #cross b {
  background-color: #a6a6a6;
  transition: .25s ease-in-out; }

#l-nav ul .title_menu #menu-toggle #cross b:nth-child(1) {
  height: 0;
  width: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transition-delay: 0s;
  transform: translateX(-50%); }

#l-nav ul .title_menu #menu-toggle #cross b:nth-child(2) {
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  transition-delay: .25s;
  transform: translateY(-50%); }

#l-nav ul .title_menu #menu-toggle.active #hamburger b {
  width: 0%; }

#l-nav ul .title_menu #menu-toggle.active #hamburger b:nth-child(1) {
  transition-delay: 0s; }

#l-nav ul .title_menu #menu-toggle.active #hamburger b:nth-child(2) {
  transition-delay: .125s; }

#l-nav ul .title_menu #menu-toggle.active #hamburger b:nth-child(3) {
  transition-delay: .25s; }

#l-nav ul .title_menu #menu-toggle.active #cross b:nth-child(1) {
  height: 100%;
  transition-delay: .625s; }

#l-nav ul .title_menu #menu-toggle.active #cross b:nth-child(2) {
  width: 100%;
  transition-delay: .375s; }

#l-nav ul .title_menu.active:hover #menu-toggle {
  background-color: #ff1744; }

#l-nav ul .line {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 1px;
  background-color: #ccc; }

#l-nav ul .subtitle {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #440914;
  margin-top: 50px;
  padding-left: 19px;
  margin-bottom: 10px;
  opacity: 0;
  white-space: nowrap; }

#l-nav ul .copyright {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: #999;
  font-size: 10px;
  border-top: 1px solid #ccc;
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  display: none; }

#l-nav ul .copyright span {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  white-space: nowrap; }

#l-nav ul .menu-item {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 54px;
  position: relative;
  margin: 1px 0; }

#l-nav ul .menu-item:after {
  content: '';
  width: 65px;
  height: 54px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  transition: all 200ms ease 0s;
  opacity: .5; }

#l-nav ul .menu-item a {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  color: #666666;
  line-height: 54px;
  padding-left: 63px;
  position: relative;
  z-index: 3000;
  height: 54px; }

#l-nav ul .menu-item a span {
  display: none;
  font-size: 14px;
  background-color: #633034;
  position: absolute;
  top: 50%;
  left: 65px;
  margin-top: -15px;
  height: 30px;
  max-width: 200px;
  white-space: nowrap;
  padding: 0 30px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  line-height: 30px;
  transition: all 500ms ease 0s;
  z-index: 100;
  color: #ffffff; }

#l-nav ul .menu-item a span:after {
  content: '';
  position: absolute;
  left: -24px;
  bottom: 0;
  border: 15px solid transparent;
  border-right: 9px solid #633034; }

#l-nav ul .menu-item:last-of-type {
  border-top: 1px solid rgba(239, 235, 221, 0.5);
  padding-top: 1px; }

#l-nav ul .menu-item:last-of-type:after {
  top: 1px; }

#l-nav ul .menu-item:hover:after {
  opacity: 1; }

#l-nav ul .menu-item:hover a:before {
  background-position: -50px 0; }

#l-nav ul .menu-item:hover a span {
  display: block; }

#l-nav.active {
  width: 235px;
  overflow: hidden; }

#l-nav.active ul .title_menu {
  font-size: 14px; }

#l-nav.active ul .title_menu:before {
  background-image: url("img/icon/close.png"); }

#l-nav.active ul .title_menu span {
  display: block;
  font-size: 14px;
  background-color: transparent;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 0;
  height: auto;
  white-space: nowrap;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  line-height: 54px;
  transition: none;
  z-index: 5; }

#l-nav.active ul .title_menu span:after {
  display: none; }

#l-nav.active ul .title_menu:hover {
  background-color: transparent; }

#l-nav.active ul .title_menu:hover:before {
  background-color: #ff1744; }

#l-nav.active ul .subtitle {
  opacity: 1; }

#l-nav.active ul .copyright {
  display: block; }

#l-nav.active ul .menu-item a {
  font-size: 14px; }

#l-nav.active ul .menu-item a span {
  display: block;
  font-size: 14px;
  background-color: transparent;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 0;
  height: auto;
  white-space: nowrap;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  line-height: 54px;
  transition: none;
  z-index: 5;
  color: #666666; }

#l-nav.active ul .menu-item a span:after {
  display: none; }

#l-nav .menu-item:before {
  color: #633034;
  font-size: 20px;
  left: 22px;
  top: 17px;
  position: absolute;
  opacity: 0.6; }

#l-nav .menu-item:hover:before, #l-nav .menu-item:active:before, #l-nav .menu-item.active:before {
  opacity: 1; }

/**
Content
**/
body, .nav-top {
  padding-left: 65px; }

@media (max-width: 768px) {
  body, .nav-top {
    padding-left: 0 !important; } }
.content {
  padding-top: 140px; }

/**
Admin
**/
.admin-bar .nav-top {
  top: 32px; }
.admin-bar .content {
  padding-top: 172px; }

/**
Pages
**/
.landing-main-top-image {
  height: 320px;
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover; }

.landing-menu {
  margin-bottom: -40px; }
  .landing-menu ul {
    padding: 0; }
    .landing-menu ul li {
      text-align: center;
      margin-top: -50px;
      margin-bottom: 100px;
      list-style-type: none; }
      .landing-menu ul li .item {
        position: relative;
        height: 200px;
        width: 206px;
        background: red;
        display: inline-block;
        transition: all 0.5s; }
        .landing-menu ul li .item span {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 25px 10px;
          color: white;
          background: rgba(0, 0, 0, 0.7); }
        .landing-menu ul li .item:hover {
          margin-top: -10px;
          margin-bottom: 10px; }

.landing-category {
  color: #808080;
  font-size: 28px;
  font-weight: 300; }

.book {
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
  display: inline-block;
  text-decoration: none; }
  .book:hover, .book:active, .book:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.62);
    text-decoration: none; }
  .book .img {
    height: 238px;
    width: 205px;
    background-size: cover !important;
    background-position: center !important;
    border: 1px dotted #ccc; }
  .book .content {
    padding: 7px !important;
    width: 193px;
    height: 100px; }
    .book .content .head {
      color: #808080;
      font-size: 18px;
      font-weight: bold; }
    .book .content .author {
      color: #808080;
      font-size: 17px;
      font-weight: 300; }

.landing-author-books-column {
  border-right: 1px solid #ccc;
  padding-right: 40px;
  padding-left: 100px; }

.landing-author-news {
  padding-left: 100px; }

@media (min-width: 992px) {
  .pr0-lg {
    padding-right: 0 !important; }

  .pl0-lg {
    padding-left: 0 !important; } }
@media (min-width: 768px) {
  .pr0-md {
    padding-right: 0 !important; }

  .pl0-md {
    padding-left: 0 !important; }

  .landing-author-books-column {
    text-align: center;
    padding-left: 40px; }

  .pull-sm-right {
    float: right; } }
@media (max-width: 1199px) {
  .landing-author-news {
    padding-left: 40px !important; }

  .landing-author-books-column {
    text-align: left;
    padding-left: 40px; } }
@media (max-width: 991px) {
  .landing-author-books-column {
    text-align: center;
    padding-left: 60px; }

  .landing-author-news {
    text-align: center; } }
.landing-author-news {
  border-right: 1px solid #ccc;
  padding-right: 40px;
  padding-left: 100px; }
  .landing-author-news .book {
    margin-bottom: 30px;
    display: inline-block;
    margin-top: 1px;
    padding-bottom: 5px;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc !important; }
    .landing-author-news .book:hover, .landing-author-news .book:active, .landing-author-news .book:focus {
      text-decoration: none;
      box-shadow: none !important; }
    .landing-author-news .book .date-field {
      border-bottom: 1px solid #633034;
      margin-bottom: 10px;
      padding-bottom: 12px;
      width: 100%; }
    .landing-author-news .book .img {
      display: inline-block;
      height: 115px;
      width: 107px;
      background-size: cover !important;
      vertical-align: top;
      border: none !important; }
    .landing-author-news .book .content {
      display: inline-block;
      padding: 7px !important;
      width: 193px;
      height: auto;
      vertical-align: top; }
      .landing-author-news .book .content .head {
        color: #808080;
        font-size: 18px;
        font-weight: bold; }
      .landing-author-news .book .content .author {
        color: #808080;
        font-size: 15px;
        font-weight: 300; }

.owl-with-buttons {
  padding: 0 30px; }
  .owl-with-buttons .owl-item {
    text-align: center; }
  .owl-with-buttons .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; }
    .owl-with-buttons .owl-nav .owl-prev, .owl-with-buttons .owl-nav .owl-next {
      position: absolute;
      top: 0;
      margin-top: -70px; }
    .owl-with-buttons .owl-nav .owl-prev {
      left: -20px; }
    .owl-with-buttons .owl-nav .owl-next {
      right: -20px; }
    .owl-with-buttons .owl-nav .arrow {
      padding: 40px 21px;
      opacity: 0.9; }
      .owl-with-buttons .owl-nav .arrow:hover {
        opacity: 1; }

.landing-post {
  margin-bottom: 30px;
  display: inline-block;
  margin-top: 1px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc !important;
  box-shadow: none !important;
  height: 221px; }
  .landing-post:hover, .landing-post:active, .landing-post:focus {
    box-shadow: none !important;
    text-decoration: none; }
  .landing-post .date-field {
    border-bottom: 1px solid #633034;
    margin-bottom: 10px;
    padding-bottom: 12px;
    width: 100%; }
  .landing-post .img {
    display: inline-block;
    height: 195px;
    width: 195px;
    background-size: cover !important;
    vertical-align: top; }
  .landing-post .content {
    display: inline-block;
    padding: 7px !important;
    height: auto;
    vertical-align: top; }
    .landing-post .content .head {
      color: #808080;
      font-size: 18px;
      font-weight: bold; }
    .landing-post .content .author {
      color: #808080;
      font-size: 15px;
      font-weight: 300; }

.landing-author {
  margin-bottom: 30px;
  display: inline-block;
  margin-top: 1px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
  width: 200px;
  height: 312px; }
  .landing-author:hover, .landing-author:active, .landing-author:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.62);
    text-decoration: none; }
  .landing-author .date-field {
    border-bottom: 1px solid #633034;
    margin-bottom: 10px;
    padding-bottom: 12px;
    width: 100%; }
  .landing-author .img {
    display: inline-block;
    height: 195px;
    width: 195px;
    background-size: cover !important;
    vertical-align: top; }
  .landing-author .content {
    display: inline-block;
    padding: 7px !important;
    height: auto;
    vertical-align: top; }
    .landing-author .content .head {
      color: #808080;
      font-size: 18px;
      font-weight: bold; }
    .landing-author .content .author {
      color: #808080;
      font-size: 15px;
      font-weight: 300; }

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important; } }
/*** HACKS **/
.rw-rating-table {
  display: inline-block; }
  .rw-rating-table .rw-ui-container .rw-report-link, .rw-rating-table .rw-ui-container .rw-report-link:hover {
    display: none !important; }

.kk-star-ratings {
  position: relative;
  padding-top: 28px; }
  .kk-star-ratings .kksr-legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 18px;
    display: inline-block !important; }
    .kk-star-ratings .kksr-legend span {
      color: green !important; }
  .kk-star-ratings .kksr-star.gray {
    background-size: 17px 17px;
    display: inline-block; }
    .kk-star-ratings .kksr-star.gray .kksr-star.yellow {
      background-image: url("../img/green.png") !important; }
    .kk-star-ratings .kksr-star.gray * {
      background-size: 17px 17px; }
    .kk-star-ratings .kksr-star.gray a {
      height: 17px;
      width: 17px;
      float: left; }
      .kk-star-ratings .kksr-star.gray a.orange {
        background-image: url("../img/dark-green.png") !important; }

a {
  color: #633034;
  text-decoration: underline; }
  a:hover, a:focus {
    color: #532034; }

.no-decoration {
  text-decoration: none !important; }

.submenu-link {
  border-right: 1px solid rgba(144, 144, 144, 0.3);
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none !important;
  font-weight: bold;
  color: #aaa; }
  .submenu-link:first-child {
    border-left: 1px solid rgba(144, 144, 144, 0.3); }
  .submenu-link:hover, .submenu-link.active, .submenu-link:focus {
    border-bottom: 3px solid #633034;
    padding-bottom: 7px;
    color: #555; }
  .submenu-link.active {
    color: #633034 !important; }

.carret-right {
  padding-right: 13px; }
  .carret-right:after {
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -2px; }

.stars {
  height: 16px;
  position: relative;
  display: inline-block; }
  .stars .fuel {
    position: absolute;
    left: 0;
    top: 0;
    background: green;
    height: 100%;
    width: 20%;
    transition: all 1s; }
  .stars .stars-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/star2.png");
    background-size: 16px 16px; }
  .stars.editable .stars-cnt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .stars.editable .stars-cnt .star {
      background: transparent;
      width: 16px;
      height: 16px;
      float: left;
      cursor: pointer; }

.btn-typical, .vine-button {
  text-decoration: none; }

.page-img {
  height: 320px;
  width: 100%; }

.authors_book .img {
  display: block;
  height: 202px;
  width: 202px;
  background-position: center; }

.typical-form {
  display: inline-block;
  position: relative; }

.grey-input {
  background: #eee;
  border: none !important;
  outline: none !important;
  padding: 8px 20px;
  width: 400px; }

.hand {
  cursor: pointer;
  user-select: none; }

.vertical-top {
  vertical-align: top; }

.checkbox .check {
  border: 1px solid #008000;
  color: #008000;
  display: inline-block;
  padding: 0 4px;
  font-size: 15px; }
  .checkbox .check.active .check-ok {
    display: inline-block; }
  .checkbox .check.active .check-fail {
    display: none; }
  .checkbox .check .check-fail {
    display: inline-block;
    width: 15px; }
  .checkbox .check .check-ok {
    color: #008000;
    display: none; }
  .checkbox .check input {
    display: none; }

/*# sourceMappingURL=site.css.map */
